<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test Email</title>
  <style>
    /* your styles */
  </style>
</head>

<body paddingwidth="0" paddingheight="0" bgcolor="#d1d3d4" style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;"
  offset="0" toppadding="0" leftpadding="0">
  <!-- your email boday -->
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td height="20"></td>
      </tr>
      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff" style="font-family:helvetica, sans-serif;"
        class="MainContainer">
        <tbody>
          <tr>
            <td>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td valign="top" width="20">&nbsp;</td>
                    <td>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                          <tr>
                            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                  <tr>
                                    <td style="background:#fff;">
                                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                          <tr>
                                            <td width="40" valign="top">&nbsp;</td>
                                            <td valign="top">
                                              <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                                <tr>
                                                  <td height="10"></td>
                                                </tr>
                                                <tr>
                                                  <td style="text-align: center;">
                                                    <h1 style="line-height: 1; color: #0d7035">
                                                      Hi *|NAME|*, thank you for trying out my emailing app!!!
                                                    </h1>
                                                    <img src="your_image_path/image_name.jpg" alt="your_image_here" />
                                                    <p style="font-size: 11px;">You can
                                                      <a target="_blank" href="https://www.your_domain.com/email/update-email/*|EMAIL|*"
                                                        style="color:#AAAAAA;">update
                                                        your preferences
                                                      </a> or Unsubscribe
                                                      <a target="_blank" href="https://www.your_domain.com/email/unsubscribe/*|EMAIL|*"
                                                        style="color:#AAAAAA;">unsubscribe
                                                      </a>
                                                    </p>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td height="10"></td>
                                                </tr>
                                              </table>
                                            </td>
                                            <td width="40" valign="top">&nbsp;</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td height="20"></td>
      </tr>
    </tbody>
  </table>
</body>

</html>